<mat-toolbar [class.mat-elevation-z3]="isScrolled">
    <mat-toolbar-row class="header-content">
        <button
            mat-icon-button
            color="primary"
            class="mr-2 d-sm-none"
            (click)="navigation.isSidebarOpened = true"
        >
            <mat-icon>menu</mat-icon>
        </button>

        <div appEllipsisTooltip class="flex-grow-1">Header works!</div>

        <!-- TODO: Implement on click logic -->

        <div class="flex-grow-0 d-none d-sm-inline">
            <button mat-icon-button color="primary">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>person</mat-icon>
            </button>
            <button mat-icon-button color="primary">
                <mat-icon>language</mat-icon>
            </button>
            <button mat-icon-button color="warn">
                <mat-icon>power_settings_new</mat-icon>
            </button>
        </div>
    </mat-toolbar-row>

    <mat-toolbar-row class="loading-indicator vw-100 p-0">
        <mat-progress-bar
            *ngIf="navigation.isLoadingIndicated"
            mode="indeterminate"
        ></mat-progress-bar>
    </mat-toolbar-row>
</mat-toolbar>
