#endpoint-input {
    min-width: 320px;
}

button {
    transition: 0.3s;
}

@media (max-width: 767.98px) {
    mat-dialog-content {
        width: 80vw;

        mat-accordion {
            width: calc(100% + 24px);
            #endpoint-input {
                min-width: 100%;
            }
        }
    }
}
