.page {
    max-height: 100vh;

    header {
        z-index: 2000;
    }

    main {
        margin-top: 96px;
        transition: 0.3s;

        @media (max-width: 767.98px) {
            margin-top: 80px;
        }

        .content {
            max-width: 1600px;
        }
    }
}
