<div class="mb-3 d-flex">
    <mat-icon class="flex-grow-0 mr-2 my-auto">settings</mat-icon>
    <h1 class="flex-grow-1 my-auto" appEllipsisTooltip>
        {{ 'main.settings.title' | translate }}
    </h1>
</div>

<mat-card class="mb-3 p-4" *ngIf="storage.refreshToken && storage.token">
    <mat-card-content>
        <strong class="color-primary">
            {{ 'general.proTip' | translate }}:
        </strong>
        {{ 'main.settings.authTokens.info' | translate }}

        <div class="d-table mt-1">
            <div class="d-table-row">
                <div class="d-table-cell pr-2">
                    <strong>
                        {{
                            'main.settings.authTokens.accessToken' | translate
                        }}:
                    </strong>
                </div>
                <div class="d-table-cell token">{{ storage.token }}</div>
            </div>
            <div class="d-table-row">
                <div class="d-table-cell pr-2">
                    <strong>
                        {{
                            'main.settings.authTokens.refreshToken' | translate
                        }}:
                    </strong>
                </div>
                <div class="d-table-cell token">{{ storage.refreshToken }}</div>
            </div>
        </div>
    </mat-card-content>
</mat-card>

<mat-accordion [multi]="true">
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            <mat-panel-title class="d-flex color-primary">
                <mat-icon class="my-auto mr-2">dns</mat-icon>
                <strong class="my-auto">
                    {{ 'main.settings.url' | translate }}
                </strong>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <form>
            <mat-form-field appearance="outline" color="primary" class="w-100">
                <input
                    matInput
                    [value]="storage.endpointUrl"
                    name="endpointUrl"
                    #urlInput
                />
                <mat-label>
                    {{ 'main.settings.url' | translate }}
                </mat-label>
            </mat-form-field>
            <div class="d-flex m-n2">
                <div class="ml-auto">
                    <button
                        type="button"
                        class="m-2"
                        mat-flat-button
                        [matTooltip]="
                            'main.settings.reset.tooltip'
                                | translate: { defaultUrl: defaultEndpoint }
                        "
                        [disabled]="storage.endpointUrl === defaultEndpoint"
                        (click)="
                            storage.endpointUrl = null;
                            urlInput.value = defaultEndpoint;
                            snackbar.showSnackbar('snackbar.defaultUrlReset')
                        "
                    >
                        <mat-icon>refresh</mat-icon>
                        {{ 'main.settings.reset.action' | translate }}
                    </button>
                    <button
                        mat-flat-button
                        color="primary"
                        class="m-2"
                        [disabled]="urlInput.value === storage.endpointUrl"
                        (click)="
                            storage.endpointUrl = urlInput.value;
                            snackbar.showSnackbar('snackbar.endpointUrlSet')
                        "
                    >
                        {{ 'general.save' | translate }}
                    </button>
                </div>
            </div>
        </form>
    </mat-expansion-panel>

    <ng-container *ngIf="storage.token && storage.refreshToken">
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="d-flex color-primary">
                    <mat-icon class="my-auto mr-2">manage_accounts</mat-icon>
                    <strong class="my-auto">
                        {{ 'main.settings.userSettings' | translate }}
                    </strong>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form>
                <!-- TODO Implement -->
                ...
            </form>
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title class="d-flex color-primary">
                    <mat-icon class="my-auto mr-2">lock</mat-icon>
                    <strong class="my-auto">
                        {{ 'main.settings.accessData.title' | translate }}
                    </strong>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <form>
                <div class="row">
                    <mat-form-field
                        appearance="outline"
                        color="primary"
                        class="col-12 col-md-6 mx-auto"
                    >
                        <input
                            matInput
                            type="password"
                            [(ngModel)]="passwordData.currentPassword"
                            name="currentPassword"
                        />
                        <mat-label>{{
                            'main.settings.accessData.currentPassword'
                                | translate
                        }}</mat-label>
                    </mat-form-field>
                </div>

                <mat-divider class="position-relative mb-3"></mat-divider>

                <div class="row">
                    <mat-form-field
                        appearance="outline"
                        color="primary"
                        class="col-12 col-md-6"
                    >
                        <input
                            matInput
                            type="password"
                            [(ngModel)]="passwordData.newPassword"
                            name="password"
                        />
                        <mat-label>{{
                            'main.settings.accessData.newPassword' | translate
                        }}</mat-label>
                    </mat-form-field>

                    <mat-form-field
                        appearance="outline"
                        color="primary"
                        class="col-12 col-md-6"
                    >
                        <input
                            matInput
                            type="password"
                            [(ngModel)]="passwordData.confirm"
                            name="confirmPassword"
                        />
                        <mat-label>
                            {{ 'general.user.confirm' | translate }}</mat-label
                        >
                    </mat-form-field>
                </div>

                <div class="d-flex m-n2">
                    <div class="ml-auto">
                        <button
                            mat-flat-button
                            color="primary"
                            class="m-2"
                            [disabled]="
                                !passwordData.currentPassword ||
                                !passwordData.newPassword ||
                                !passwordData.confirm
                            "
                            (click)="auth.updatePassword(passwordData)"
                        >
                            {{ 'general.save' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
    </ng-container>
</mat-accordion>
